
html{
    font-size: 15pt;
}

body{
    background-color: #D5D5D5;
}

#main-container{
    background-color: white;
    box-shadow: 3px 3px 11px 2px rgba(156, 154, 154, 0.2);
}

.text-pad{
    padding: 15px;
    padding-left: 25px;
}

.fit{
    width:100%;
}

/* Header */
#logo img{
    margin: 15px;
}

/* Navigation menu*/
nav{
    width: 100%;
    display: block;
    background-color: #3D4959;
    color: white;
}
nav ul li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
}

nav ul li a{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

nav ul li a:hover{
    color: #DDD;
}

/* Content section */
#content{
    min-height: 435px;
    padding: 20px;
    
}

#main-text{
    padding-left: 25px;
    text-align: justify;
}

#main-text div{
    padding-right: 10px;
    border-right: 2px solid #F6F6F6;
}

/* Footer */
footer{
    background-color: #3D4959;
    color:white;
}

.copyright-container{
    position: relative;
    height: 140px;
    text-align: center;
}

.copyright-container span{
    display: block;
    position: absolute;
    bottom: 28px;
}

.footer-logo{
    padding: 25px;
    text-align: center;
}

.summary{
    border-radius: 5px;
    padding:15px;
    margin-bottom: 20px;
}

.summary-1{
    background-color: #F56A4D;
    color: white;
    
}

.summary-2{
    background-color: #0DA64F;
    color: white;
    
}

.summary-3{
    background-color: #00BFF4;
    color: white;
    
}

.summary-4{
    background-color: #9874B3;
    color: white;
    
}

.summary-number{
    display: block;
    font-size: 30px;
}